# Secrets (should never be committed)
.streamlit/secrets.toml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore macOS system file
.DS_Store

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Logs & Settings
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask & Scrapy
instance/
.webassets-cache
.scrapy

# Sphinx docs
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter & IPython
.ipynb_checkpoints
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv / poetry / pdm / uv
Pipfile.lock
poetry.lock
pdm.lock
.pdm.toml
.pdm-python
.pdm-build/
uv.lock

# PEP 582
__pypackages__/

# Editor config
.spyderproject
.spyproject
.ropeproject
.ruff_cache/
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyPI config
.pypirc